
.titulo {
	background:#8EF2E7;
	height:75px;
	
	padding-left:10px;
	
	}
	
body {
      margin-left:15px;
	  background:url(imagenes/fondo.jpg);
	  background-size:1500px;
	
	  background-position:50% 50%;

}	  


.intencion {
	background:#ffffff;
	padding:20px;
	width:980px;

}

.registrate {
	background:#8EF2E7;
	padding-left:10px;
	width:1010px;
	height:60px

}
.sibro {
	background:#ffffff;
	padding:10px;
	width:1000px;
}

.boton {
	width:173px;
	height:30px;
}
	
.main .articles {
	width:70%;
	float:left;

}

footer {
	background:#000;
	

}
.coso {
	background:#FC772B;
	padding:1px;

	width:500px;
	margin-left:1040px;
	padding-right:17px
}
.pedro {
	background:#DE79A2; 
	padding:5px;
    margin-left:250px;
    margin-right:275px;
}
.pasapor {
  	 margin-left:500px;
	margin-top:70px
	

